{% extends 'movies/base.html' %}

{% block title %}EDIT{% endblock %}
{% block body %}
    <h1 class='text-center'>{{ movie.title }}</h1>
    <div class="container">
    <form action="/movies/{{ movie.pk }}/update/" method="POST">
        <!-- post일때는 {% csrf_token %} 무조건 써줘야함 -->
        {% csrf_token %} 
        영화제목<br> <input type="text" name="title" value="{{ movie.title }}"> <br>
        영화제목(영문)<br> <input type="text" name="title_en" value="{{ movie.title_en }}"> <br>
        누적 관객수<br> <input type="number" name="audience" value="{{ movie.audience }}"> <br>
        개봉일<br> <input type="date" name="open_date" value="{{ movie.open_date|date:'Y-m-d' }}"> <br>
        장르<br> <input type="text" name="genre" value="{{ movie.genre }}"> <br>
        관람등급<br> <input type="text" name="watch_grade" value="{{ movie.watch_grade }}"> <br>
        평점<br> <input type="number" step="0.01" name="score" value="{{ movie.score }}"> <br>
        포스터 이미지 URL<br> <input type="text" name="poster_url" value="{{ movie.poster_url }}" style="width:34.4%"> <br>
        영화 소개<br> <textarea name="description" cols="50" rows="10">{{ movie.description }}</textarea> <br>
        <input type="submit"> 
    </form>
    </div>
    <hr>
    <a href="/movies/{{ movie.pk }}/">[뒤로가기]</a>
{% endblock %}